.idea/
.vscode/
.ipynb_checkpoints/

intermediates/

docs/build
build/
dist/
radon.egg-info/
torch_radon.egg-info/
objs/
examples/*.ipynb
tests/output/

benchmarks/**/*.npy
benchmarks/**/*.ipynb

*.so
*.pyc
*.ncu-rep
test
